<!-- Inherit from layout.html -->
{% extends 'layout.html' %}

{% block main_content %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

    <div class="projectHead">
        <h1>Audio Bandpass Filter</h1>
        <p>Revising a three band audio equalizer from class</p>
        <!-- <a class="repoLink" href="https://github.com/Stone071/bottle_cap_imager">Repository</a> -->
        <figure>
            <img src="{{url_for('static',filename='three-channel-equalizer-lab-design.webp')}}" width="100%"/>
            <figcaption>
                The original design from lab, implemented using second-order multiple-feedback bandpass filter
                for bandwidth selection, constant-gain amplifier for gain requirement, and summing amplifier for
                recombination of the three signals.
            </figcaption>
        </figure>
    </div>

    <div>
        <h2>Table of Contents</h2>
        <ul class="tableOfContents">
            <li><a href="#background">Background</a></li>
            <li><a href="#requirements">Requirements</a></li>
            <li><a href="#design">Design</a></li>
            <li><a href="#equation-solutions">Appendix A: Solutions for Transfer Functions and System Characteristics</a></li>
        </ul>
    </div>

    <h2 id="background">Background</h2>
    <p>
        A lab project we performed early in undergrad was implementing a 3 band audio equalizer. We were advised to use a
        multiple-feedback bandpass filter for at least one stage of the amplifier, and given specifications in the form of center
        frequency, quality factor, and gain for each channel.
    </p>
    <p>
        That lab flew by, and I was so floored when the equalizer worked that I didn't stop to question some aspects of its
        performance which could have been much better.
        Here, I'll be taking a closer look at the most interesting portion of the equalizer which we designed, which
        is the bandpass filter. <b>I'll be revising the design in favor of cascaded high-pass and low-pass filters, and making
        it clear why.</b>
    </p>

    <h2 id="requirements">Requirements</h2>
    <div> 
        <h3 style="margin-top: 0;">The Given Specifications</h3>
        <table align="center">
            <th>
                <td><b>Center Frequency</b></td>
                <td><b>Quality Factor</b></td>
                <td><b>Gain</b></td>
            </th>
            <tr>
                <td><b>Bass</b></td>
                <td>200 Hz +- 10%</td>
                <td>0.7 +- 10%</td>
                <td>0.4 - 8</td>
            </tr>
            <tr>
                <td><b>Mid</b></td>
                <td>1100 Hz +- 10%</td>
                <td>0.7 +- 10%</td>
                <td>0.2 - 4</td>
            </tr>
            <tr>
                <td><b>Treble</b></td>
                <td>6000 Hz +- 10%</td>
                <td>0.7 +- 10%</td>
                <td>0.1 - 2</td>
            </tr>
        </table>
        <p>
            The center frequency and gain are intuitive requirements. Each channel must target a specific passband of frequencies, 
            and the gain needs to be adjustable so the user can notice the difference. The quality factor given was not immediately
            intuitive. Quality factor is a measure how much a system damps oscillations. A system with a low quality factor (Q < 1/2)
            is overdamped, and will not oscillate. A system with a high quality factor (Q > 1/2) is underdamped, and will oscillate when
            excited by a specific frequency, and will continue oscillating longer depending on how high the quality factor is. A system 
            Quality factor Q = 1/2 is critically damped, and will not oscillate, but also remains quickly responsive to sharp inputs.
            In a bandpass filter, quality factor has an effect on bandwidth as well, with high quality factors producing a more narrowband,
            peaked response. By selecting 0.7 as the quality factor, we were attempting to produce a flatter response in the passband, and
            not have a strong peak at the center frequency.
        </p>
    </div>

    <div>
        <h3>The Missed Requirement</h3>
        <figure style="float: right;">
            <img src="{{url_for('static',filename='freq-rsp-equalizer.webp')}}"/>
            <figcaption>
            Output from original circuit pictured at the top of the page.
            </figcaption>
        </figure>
        <p>
            When designing for audio and many other applications, it is desirable to amplify selected frequencies
            evenly across the entire bandwidth. You effectively want to take a rectangular window of frequencies
            and boost them all the same amount. Unfortunately, this is not what was achieved with the equalizer designed in lab.
            To the right is a frequency response plot from the output of the 3 channel equalizer.
        </p>
        <p>                    
            It is very clear in this frequency response that the frequencies in between the center frequency of each bandpass
            filter are not being effectively amplified. The amplitude which is achieved at center frequency is not being
            achieved throughout the passband of each filter. There are a couple things contributing to this. Firstly, the
            bandpass topology used here is not the best choice. Multiple-feedback bandpass filters are good for high Q, 
            low bandwidth applications, selectively boosting a very narrow frequency band. Additionally, the slope at which
            the MFB attenuates frequencies farther away from its center frequency is quite shallow, at -20dB/dec. This is low in
            comparison to a typical second-order filter, which would typically show a -40dB/dec slope. This shallow slope causes
            the filters responses near each other in the frequency spectrum to overlap. Together, these characteristics make the MFB 
            topology a poor choice for this bandpass application.
        </p>
        </p>
        <p>
            Below, the shallow -20dB/dec slope and prominent peak of the second order multiple-feedback bandpass filter can be seen.
            The actual transfer function for the filter as implemented is 
            <p class="equation">\(\frac{-sCR_{2}}{C^{2}R_{1}R_{2}s^{2} + 2CR_{1}s + 1} = \frac{V_{out}}{V_{in}}\)</p>
            <!-- (R<sub>2</sub>Cs)/(C<sup>2</sup>R<sub>2</sub>R<sub>1</sub>s<sup>2</sup> + 2CR<sub>1</sub>s + 1).  -->
            The solution for this equation be found in <a href="#equation-solutions">Appendix A.</a>
        </p>
        <div style="display:flex; justify-content: center;">
        <figure>
            <img src="{{url_for('static',filename='mfb-bandpass-freq-response.png')}}"/>
            <figcaption>
            The amplitude frequency response from the low channel multiple feedback bandpass filter.
            </figcaption>
        </figure>
        </div>
    </div>

    <h2 id="design">Design</h2>
    <h3>Old</h3>
    <p>
        The old design was a second order multiple-feedback bandpass filter. As discussed above, it cannot achieve the flat response across the
        passband which we desire.
    </p>
    <h3>New</h3>
    <p>
        A very simple solution for creating a passband of any width while having a flat response in the middle frequencies
        is to cascade a high-pass and a low-pass filter together. The high-pass removes low frequencies, the low-pass removes
        high frequencies, and we are left with a window of unchanged response in the middle. This concept is illustrated simply
        by these three plots below.
    </p>
    <div style="display: flex; justify-content: center;">
        <figure>
            <img src="{{url_for('static',filename='sk-lpf-mid-channel-freq-rsp.png')}}"/>
            <figcaption>
            The amplitude frequency response from a second order low-pass filter.
            </figcaption>
        </figure>
    </div>
    <div style="display: flex; justify-content: center;">
        <figure>
            <img src="{{url_for('static',filename='sk-hpf-mid-channel-freq-rsp.png')}}"/>
            <figcaption>
            The amplitude frequency response from a second order high-pass filter.
            </figcaption>
        </figure>
    </div>
    <div style="display: flex; justify-content: center;">
        <figure>
            <img src="{{url_for('static',filename='sk-lpf-hpf-mid-channel-freq-rsp.png')}}"/>
            <figcaption>
            The amplitude frequency response from a cascade of second order high-pass and low pass filters.
            </figcaption>
        </figure>
    </div>
    <p>
        One can see how overlaying the first two plots creates the third, where there is a flat passband between 300Hz and 3kHz.
        Additionally, the slope on either side of the passband is seen to be -40dB/dec, which makes it easier to accurately target
        frequencies without overlapping responses with adjacent filters.
    </p>

    <h3>Circuit Layout</h3>
    <figure width="100%" style="max-width: 100%;">
        <img width="100%" src="{{url_for('static', filename='sk-cascade-bandpass-cir.png')}}"/>
        <figcaption>The circuit diagram for a cascade of second order Sallen-Key filters.</figcaption>
    </figure>

    <h3>Topology</h3>
    <p>
        The topology being employed here can be understood with some intuition. In the lowpass filter, placing a capacitor in the feedback path causes
        the impedance seen by the feedback to be reduced as frequency increases, so feedback increases with frequency and reduces gain.
        Additionally, there is a capacitor shunt to ground at the noninverting input. This capacitor presents a low impedance path to
        ground at high frequency, causing high frequency inputs to be sent to ground rather than the input. Through these two elements,
        both the input signal and gain can be reduced with frequency, causing the -40db/dec slope which is characteristic of second-order filters.
        For the highpass filter, the two capacitors along the input path present very high impedance to low-frequency inputs,
        effectively blocking them. Once again, having two frequency dependent elements affecting the input-output relationship creates the
        second order response.
    </p>

    <h3>Design Equations</h3>
    <h4>Sallen-Key Low-Pass Filter</h4>
    <p>
        The low-pass filter has a transfer function of
        <p class="equation">\( \frac{\frac{1}{C_{3}C_{4}R_{1}R_{2}}}{s^{2} + 2(\frac{C_{4}(R_{1}+R_{2})}{2\sqrt{C_{3}C_{4}R_{1}R_{2}}})(\frac{1}{\sqrt{C_{3}C_{4}R_{1}R_{2}}}) + \frac{1}{C_{3}C_{4}R_{1}R_{2}}} 
            = \frac{V_{out}}{V_{in}} \)</p>
        The solution for this equation can be found in <a href="#equation-solutions">Appendix A.</a>
    </p>
    <p>
        From the transfer function, we can define expressions for important characteristics like quality factor and natural frequency.
    </p>
    <p class="equation">\( \frac{1}{\sqrt{C_{3}C_{4}R_{1}R_{2}}} = \omega_{n}\)</p>
    <p class="equation">\( \frac{\sqrt{C_{3}C_{4}R_{1}R_{2}}}{C_{4}(R_{1}+R_{2})} = Q\)</p>
    <p> 
        The natural frequency and quality factor together characterize the region where the passband begins to turn down and get reduced by the filter.
        The natural frequency is generally the frequency at which the passband transitions into frequencies being blocked by the filter. The quality factor determines
        how close to the natural frequency the passband comes before turning down, and also the performance of the filter nearing this edge.
        High quality factors come very close to the natural frequency before turning down, but also experience a peak in the amplitude response near this edge.
        Lower quality factors will not approach the natural frequency as closely before turning down, but experience a flat passband. A butterworth design
        is one which has a maximally flat passband while approaching the natural frequency as closely as possible, and is achieved by specifying
    </p>
    <p class="equation">\( \frac{1}{\sqrt{2}} = Q\)</p>
    <p> 
        Given that we have two characterstics which we would like to design for and four independent values to specify in the Sallen-Key topology, common practice
        is to constrain the four independents by specifying a relationship between the two resistors and the two capacitors.
    </p>
    <p class="equation">\( R_{1} = mR \)</p>
    <p class="equation">\( R_{2} = \frac{1}{m}R \)</p>
    <p class="equation">\( C_{3} = nC \)</p>
    <p class="equation">\( C_{4} = \frac{1}{n}C \)</p>
    <p> 
        Now, with these relationships defined, there are still four independent variables, m, R, n, and C, but the expressions for quality factor
        and natural frequency no longer depend on the same subset of independent variables.
    </p>
    <p class="equation">\( \frac{nm}{m^{2}+1} = Q \)</p>
    <p class="equation">\( \frac{1}{RC} = \omega_{n} \)</p>
    <p>
        Now, by selecting \( m = 1 \) and \( n = \sqrt{2} \), we can set Q for butterworth or maximally flat response. By choosing values of R and C, we can
        set the natural frequency wherever we want frequencies to begin getting blocked without affecting the quality factor.
    </p>
    <h4>Sallen-Key High-Pass Filter</h4>
    <p>
        The high-pass filter has a transfer function of
        <p class="equation"> \( \frac{s^{2}}{s^{2} + 2(\frac{(C_{1}+C_{2})R3}{2\sqrt{R_{3}R_{4}C_{1}C_{2}}})(\frac{1}{\sqrt{R_{3}R_{4}C_{1}C_{2}}}) 
            + \frac{1}{R_{3}R_{4}C_{1}C_{2}}} = \frac{V_{out}}{V_{in}}\)</p>
        The solution for this equation can be found in <a href="#equation-solutions">Appendix A.</a>
    </p>
    <p>
        Using the same component relationships described above, we can express quality factor and natural frequency in terms of R and C.
    </p>
    <p class="equation">\( \frac{n}{m(n^{2}+1)} = Q \)</p>
    <p class="equation">\( \frac{1}{RC} = \omega_{n} \)</p>
    <p>
        In this case, to achieve butterworth response, \( m = \frac{1}{\sqrt{2}} \) and \( n = 1 \). Then once again values of R and C must be chosen
        around the desired cut-off frequency.
    </p>


    <h3>Component Selection</h3>
    <p>
        Component values were selected which achieved the goal of having three frequency bands for gain control while maintaining \( Q = \frac{1}{\sqrt{2}} \).
        If this design were to be produced in the real world, it would be worth spending more time to adjust the design to use common component values.
    </p>
    <table align="center">
        <th>
            <td><b>Bass Channel</b></td>
            <td><b>Mid Channel</b></td>
            <td><b>High Channel</b></td>
        </th>
        <tr>
            <td></td>
            <td><b>Low Pass</b></td>
            <td><b>Low Pass</b></td>
            <td><b>Low Pass</b></td>
        </tr>
        <tr>
            <td><b>Q</b></td>
            <td>0.707</td>
            <td>0.707</td>
            <td>0.707</td>
        </tr>
        <tr>
            <td><b>Natural Freq (rad/s)</b></td>
            <td>2.13K</td>
            <td>33.3K</td>
            <td>167K</td>
        </tr>
        <tr>
            <td><b>Natural Freq (Hz)</b></td>
            <td>338.63</td>
            <td>5305.16</td>
            <td>26525.82</td>
        </tr>
        <tr>
            <td><b>m</b></td>
            <td>1.00</td>
            <td>1.00</td>
            <td>1.00</td>
        </tr>
        <tr>
            <td><b>n</b></td>
            <td>1.414</td>
            <td>1.414</td>
            <td>1.414</td>
        </tr>
        <tr>
            <td><b>R (ohm)</b></td>
            <td>10K</td>
            <td>150</td>
            <td>10K</td>
        </tr>
        <tr>
            <td><b>C (F)</b></td>
            <td>47n</td>
            <td>200n</td>
            <td>600p</td>
        </tr>
        <tr>
            <td><b>R1 (ohm)</b></td>
            <td>10K</td>
            <td>150</td>
            <td>10K</td>
        </tr>
        <tr>
            <td><b>R2 (ohm)</b></td>
            <td>10K</td>
            <td>150</td>
            <td>10K</td>
        </tr>
        <tr>
            <td><b>C3 (F)</b></td>
            <td>66.5n</td>
            <td>283n</td>
            <td>848p</td>
        </tr>
        <tr>
            <td><b>C4 (F)</b></td>
            <td>33.2n</td>
            <td>141n</td>
            <td>424p</td>
        </tr>
        <tr>
            <td></td>
            <td><b>High Pass</b></td>
            <td><b>High Pass</b></td>
            <td><b>High Pass</b></td>
        </tr>
        <tr>
            <td><b>Q</b></td>
            <td>N/A</td>
            <td>0.707</td>
            <td>0.707</td>
        </tr>
        <tr>
            <td><b>Natural Freq (rad/s)</b></td>
            <td>N/A</td>
            <td>1.06K</td>
            <td>20K</td>
        </tr>
        <tr>
            <td><b>Natural Freq (Hz)</b></td>
            <td>N/A</td>
            <td>169.31</td>
            <td>3183.1</td>
        </tr>
        <tr>
            <td><b>m</b></td>
            <td>N/A</td>
            <td>0.707</td>
            <td>0.707</td>
        </tr>
        <tr>
            <td><b>n</b></td>
            <td>N/A</td>
            <td>1.00</td>
            <td>1.00</td>
        </tr>
        <tr>
            <td><b>R (ohm)</b></td>
            <td>N/A</td>
            <td>20K</td>
            <td>250</td>
        </tr>
        <tr>
            <td><b>C (F)</b></td>
            <td>N/A</td>
            <td>47n</td>
            <td>200n</td>
        </tr>
        <tr>
            <td><b>R3 (ohm)</b></td>
            <td>N/A</td>
            <td>14.1K</td>
            <td>177</td>
        </tr>
        <tr>
            <td><b>R4 (ohm)</b></td>
            <td>N/A</td>
            <td>28.3K</td>
            <td>354</td>
        </tr>
        <tr>
            <td><b>C1 (F)</b></td>
            <td>N/A</td>
            <td>47n</td>
            <td>200n</td>
        </tr>
        <tr>
            <td><b>C2 (F)</b></td>
            <td>N/A</td>
            <td>47n</td>
            <td>200n</td>
        </tr>
    </table>
    
    <div style="display:flex; justify-content: center;">
        <figure>
            <img width=100% src="{{url_for('static',filename='sk-cascade-three-band-eq.png')}}">
            <figcaption>The full circuit, including a resistive amplifier to manage gain on each channel, and and a summing amplifier to recombine the signals.</figcaption>
        </figure>
    </div>
    
    <h3>Simulation</h3>
    <p>
        The simulation shows the desired outcome on each channel, with a flat passband fenced
        between two slopes which are steep enough to not interact with neighboring filters in
        disfunctional ways.
    </p>
    <div style="display:flex; justify-content: center;">
        <figure>
            <img width="100%" src="{{url_for('static',filename='sk-cascade-three-band-eq-channels-plot.png')}}">
        </figure>
    </div>
    <p>Above is the amplitude frequency response for the three channels, with the low channel in red, the middle channel in green, and the high channel in orange.</p>

    <div style="display:flex; justify-content: center;">
        <figure>
            <img width="100%" src="{{url_for('static',filename='sj-cascade-three-band-eq-output-plot.png')}}">
        </figure>
    </div>
    <p>Above is the amplitude frequency response of the output (blue) shown in comparison to the amplitude frequency response for each channel.</p>

    <p>
        It can clearly be seen that the amplitude frequency response for the final output is not completely flat. This is because the
        edges of the frequency spectrum for each filter do overlap and interact. In fact, frequencies targeted by the middle channel
        were specifically selected to overlap with the low and high channels such that there are not major gaps in the frequency response,
        which would result in some frequencies between each channel getting tuned out. As a result of this, there are some secondary peaks in the
        frequency response where the middle channel meets with the low and high channels. These are likely to not be significantly audible,
        and are quickly overshadowed once the gain on any individual channel is turned up above the other channels.
    </p>

    <h2 id="equation-solutions">Appendix A: Solutions for Transfer Functions and System Characteristics</h2>
    <div align="center">  
        <h3>Multiple Feedback Bandpass Filter</h3>
        <div style="display: flex; justify-content: center;">
            <figure>
                <img width="80%" src="{{url_for('static',filename='multiple-feedback-bandpass-circuit.webp')}}"/>
                <figcaption>Circuit diagram for the MFB Bandpass Filter</figcaption>
            </figure>
        </div>
        <p><b>Node Voltage Method</b></p>
        <p>Node 1, between R<sub>1</sub> and C</p>
        <p class="equation">\(\frac{V_{1} - V_{in}}{R_{1}} + \frac{V_{1} - V_{out}}{\frac{1}{C s}} + \frac{V_{1}}{\frac{1}{C s}} = 0\)</p>
        <p class="equation">\(\frac{V_{1}}{R_{1}} - \frac{V_{in}}{R_{1}} + C V_{1} s + - C V_{out} s + C V_{1} s = 0\)</p>
        <p>Node 2, at the inverting input</p>
        <p class="equation">\(- \frac{V_{out}}{R_{2}} - \frac{V_{1}}{\frac{1}{Cs}} = 0\)</p>
        <p class="equation">\(- \frac{V_{out}}{R_{2}} - C V_{1} s = 0\)</p>
        <p class="equation">\( - \frac{V_{out}}{C R_{2} s} = V_{1}\)</p>
        <p>Substituting Node 2 equation into Node 1 equation</p>
        <p class="equation">\(-\frac{\frac{V_{out}}{CR_{2}s}}{R_{1}} - \frac{V_{in}}{R_{1}} - \frac{CV_{out}s}{CR_{2}s} - CV_{out}s - \frac{CV_{out}s}{CR_{2}s} = 0\)</p>
        <p class="equation">\(\frac{-V_{out}}{C s R_{1} R_{2}} - \frac{V_{in}}{R_{1}} - \frac{2V_{out}}{R_{2}} - CV_{out}s = 0\)</p>
        <p class="equation">\(- V_{out}\left( \frac{1}{C s R_{1} R_{2}} + \frac{2}{R_{2}} + Cs \right) = \frac{V_{in}}{R_{1}}\)</p>
        <p class="equation">\(- V_{out} \left( \frac{R_{1}}{C s R_{1} R_{2}} + \frac{2 R_{1}}{R_{2}} + CR_{1}s\right) = V_{in}\)</p>
        <p class="equation">\(- V_{out} \left(\frac{1}{C R_{2} s} + \frac{C 2 R_{1} s}{C R_{2} s} + \frac{C^{2} s^{2} R_{1} R_{2}}{C R_{2} s}\right) = V_{in}\)</p>
        
        <p><b>Final Transfer Function</b></p>
        <p class="equation">\(\frac{-sCR_{2}}{C^{2}R_{1}R_{2}s^{2} + 2CR_{1}s + 1} = \frac{V_{out}}{V_{in}}\)</p>
        <p>2<sup>nd</sup> order transfer function standard form</p>
        <p class="equation">\(\frac{K \omega_{n}^{2}}{s^{2} + 2\zeta\omega_{n}s + \omega_{n}^{2}} = H\)</p>
        <p>Placing the transfer function in the standard form, we can relate the component values to the characteristics of the second order system.</p>
        <p><b>Fundamental Frequency</b></p>
        <p class="equation">\(\frac{1}{C \sqrt{R_{1} R_{2}}} = \omega_{n}\)</p>
        <p><b>Damping Ratio</b></p>
        <p class="equation">\(\frac{\sqrt{R_{1} R_{2}}}{R_{2}} = \zeta\)</p>


        <h3>Sallen-Key Low Pass Filter</h3>
        <div style="display: flex; justify-content: center;">
            <figure>
                <img width="80%" src="{{url_for('static',filename='sk-lpf-cir.png')}}"/>
                <figcaption>Circuit diagram for a Sallen-Key low pass filter</figcaption>
            </figure>
        </div>
        <p><b>(1) KCL at Noninverting Input</b></p>
        <p class="equation">\( \frac{V_{1}}{Z_{C4}} + \frac{V_{1}-V_{2}}{R_{2}} = 0 \)</p>
        <p class="equation">\( \frac{V_{out}}{Z_{C4}} + \frac{V_{out}-V_{2}}{R_{2}} = 0 \)</p>
        <p class="equation">\( R_{2}(\frac{V_{out}}{Z_{C4}}+\frac{V_{out}}{R_{2}}) = V_{2} \)</p>
        <p class="equation">\( V_{out}(\frac{R_{2}}{Z_{C4}}+1) = V_{2} \)</p>
        <p><b>(2) KCL at feedback node</b></p>
        <p class="equation">\( \frac{V_{2}-V_{1}}{R_{2}} + \frac{V_{2}-V_{in}}{R_{1}} + \frac{V_{2}-V_{out}}{Z_{C3}} +  = 0 \)</p>
        <p class="equation">\( \frac{V_{2}-V_{out}}{R_{2}} + \frac{V_{2}-V_{in}}{R_{1}} + \frac{V_{2}-V_{out}}{Z_{C3}} +  = 0 \)</p>
        <p>Substitute (1) into (2)</p>
        <p class="equation">\( \frac{V_{out}(\frac{R_{2}}{Z_{C4}})}{R_{2}} + \frac{V_{out}(\frac{R_{2}}{Z_{C4}}+1)-V_{in}}{R_{1}} 
            + \frac{V_{out}(\frac{R_{2}}{Z_{C4}})}{Z_{C3}} = 0 \)</p>
        <p class="equation">\( \frac{V_{out}}{Z_{C4}} + \frac{V_{out}(\frac{R_{2}}{Z_{C4}})}{R_{1}} + \frac{V_{out}}{R_{1}} 
            + \frac{V_{in}}{R_{1}} + \frac{V_{out}(\frac{R_{2}}{Z_{C4}})}{Z_{C3}} = 0 \)</p>
        <p class="equation">\( V_{out}(\frac{1}{Z_{C4}} + \frac{R_{2}}{Z_{C4}R_{1}} + \frac{1}{R_{1}} + \frac{R_{2}}{Z_{C3}Z_{C4}})  
            = \frac{V_{in}}{R_{1}} \)</p>
        <p class="equation">\( R_{1}(\frac{1}{Z_{C4}} + \frac{R_{2}}{Z_{C4}R_{1}} + \frac{1}{R_{1}} + \frac{R_{2}}{Z_{C3}Z_{C4}})  
            = \frac{V_{in}}{V_{out}} \)</p>
        <p class="equation">\( \frac{R_{1}}{Z_{C4}} + \frac{R_{2}}{Z_{C4}} + 1 + \frac{R_{2}R_{1}}{Z_{C3}Z_{C4}} = \frac{V_{in}}{V_{out}} \)</p>
        <p class="equation">\( \frac{R_{1}Z_{C3}+R_{2}Z_{C3}+Z_{C3}Z_{C4}+R_{2}R_{1}}{Z_{C4}Z_{C4}} = \frac{V_{in}}{V_{out}} \)</p>
        <p class="equation">\( \frac{Z_{C4}Z_{C4}}{R_{1}Z_{C3}+R_{2}Z_{C3}+Z_{C3}Z_{C4}+R_{2}R_{1}} = \frac{V_{out}}{V_{in}} \)</p>
        <p class="equation">\( \frac{(\frac{1}{sC_{3}})(\frac{1}{sC_{4}})}{R_{1}R_{2}+\frac{1}{sC_{3}}(R_{2}+R_{1})+(\frac{1}{sC_{3}})(\frac{1}{sC_{4}})} = \frac{V_{out}}{V_{in}} \)</p>
        <p class="equation">\( \frac{\frac{1}{s^{2}C_{3}C_{4}}}{R_{1}R_{2}+\frac{1}{sC_{3}}(R_{2}+R_{1})+\frac{1}{s^{2}C_{3}C_{4}}} = \frac{V_{out}}{V_{in}} \)</p>
        <p class="equation">\( \frac{\frac{1}{s^{2}C_{3}C_{4}}}{\frac{s^{2}C_{3}C_{4}R_{1}R_{2}+sR_{2}C_{4}+sR_{1}C_{4}+1}{s^{2}C_{3}C_{4}}} = \frac{V_{out}}{V_{in}} \)</p>
        
        <p><b>Transfer Function</b></p>
        <p class="equation">\( \frac{1}{(C_{3}C_{4}R_{1}R_{2})s^{2}+(R_{2}C_{4}+R_{1}C_{4})s+1} = \frac{V_{out}}{V_{in}} \)</p>
        <p><b>Transfer Function to Standard Form</b></p>
        <p class="equation">\( \frac{\frac{1}{C_{3}C_{4}R_{1}R_{2}}}{s^{2} 
            + 2(\frac{C_{4}(R_{1}+R_{2})}{2\sqrt{C_{3}C_{4}R_{1}R_{2}}})(\frac{1}{\sqrt{C_{3}C_{4}R_{1}R_{2}}})s 
            + \frac{1}{C_{3}C_{4}R_{1}R_{2}}} = \frac{V_{out}}{V_{in}} \)</p>

        <p><b>Gain</b></p>
        <p class="equation">\( \frac{C_{3}C_{4}R_{1}R_{2}}{C_{3}C_{4}R_{1}R_{2}} = 1 = K \)</p>
        
        <p><b>Quality Factor</b></p>
        <p class="equation">\( \frac{\sqrt{C_{3}C_{4}R_{1}R_{2}}}{C_{4}(R_{1}+R_{2})} = Q \)</p>
        
        <p><b>Natural Frequency</b></p>
        <p class="equation">\( \frac{1}{\sqrt{C_{3}C_{4}R_{1}R_{2}}} = \omega_{n} \)</p>
        
        <h3>Sallen-Key High Pass Filter</h3>
        <div style="display: flex; justify-content: center;">
            <figure>
                <img width="80%" src="{{url_for('static',filename='sk-hpf-cir.png')}}"/>
                <figcaption>Circuit diagram for a Sallen-Key high pass filter</figcaption>
            </figure>
        </div>
        <p><b>Beginning from the transfer function for Sallen-Key topology generalized for four impedances.</b></p>
        <p class="equation">\( \frac{Z_{3}Z_{4}}{Z_{1}Z_{2}+Z_{3}(Z_{2}+Z_{1})+Z_{3}Z_{4}} = \frac{V_{in}}{V_{out}} \)</p>
        <p class="equation">\( \frac{R_{3}R_{4}}{Z_{1}Z_{2}+R_{3}(Z_{2}+Z_{1})+R_{3}R_{4}} = \frac{V_{in}}{V_{out}} \)</p>
        <p class="equation">\( \frac{R_{3}R_{4}}{\frac{1}{s^{2}C_{1}C_{2}}+R_{3}(\frac{1}{sC_{2}}+\frac{1}{sC_{1}})+R_{3}R_{4}} = \frac{V_{in}}{V_{out}} \)</p>
        <p class="equation">\( \frac{\frac{s^{2}R_{3}R_{4}C_{1}C_{2}}{s^{2}C_{1}C_{2}}}{\frac{1 + sC_{1}R_{3} + sC_{2}R_{3} + s^{2}C_{1}C_{2}R_{3}R_{4}}{s^{2}C_{1}C_{2}}} = \frac{V_{in}}{V_{out}} \)</p>
        
        <p><b>Transfer Function</b></p>
        <p class="equation">\( \frac{s^{2}R_{3}R_{4}C_{1}C_{2}}{s^{2}C_{1}C_{2}R_{3}R_{4} + s(C_{1}R_{3} + C_{2}R_{3}) + 1} = \frac{V_{in}}{V_{out}} \)</p>
        
        <p><b>Transfer Function to Standard Form</b></p>
        <p class="equation">\( \frac{s^{2}}{s^{2} + 2(\frac{(C_{1}+C_{2})R_{3}}{2\sqrt{R_{3}R_{4}C_{1}C_{2}}})(\frac{1}{\sqrt{R_{3}R_{4}C_{1}C_{2}}})s 
            + \frac{1}{R_{3}R_{4}C_{1}C_{2}}} = \frac{V_{in}}{V_{out}} \)</p>
        
        <p><b>Gain</b></p>
        <p class="equation">\( \frac{R_{3}R_{4}C_{1}C_{2}}{R_{3}R_{4}C_{1}C_{2}} = 1 = K \)</p>

        <p><b>Quality Factor</b></p>
        <p class="equation">\( \frac{\sqrt{R_{3}R_{4}C_{1}C_{2}}}{R_{3}(C_{1}+C_{2})} = Q \)</p>

        <p><b>Natural Frequency</b></p>
        <p class="equation">\( \frac{1}{\sqrt{R_{3}R_{4}C_{1}C_{2}}} = \omega_{n} \)</p>
        

    </div>  

{% endblock %}