<!-- Inherit from layout.html -->
{% extends 'layout.html' %}

{% block main_content %}

    <div class="projectHead">
        <h1 id="seesaw_riddle">Seesaw Island Riddle</h1>
        <p>A small text-based game which allows the user to play out the seesaw island riddle from Brooklyn 99.</p>
        <a class="repoLink" href="https://github.com/Stone071/Seesaw_Riddle">Repository</a>
    </div>

    <h2 id="background">Background</h2>
    <p>This program is a text-based game which allows the user to play out
    the seesaw island riddle from Brooklyn 99, paraphrased below.</p>
    <p><strong>There are 12 people on an island. There is a seesaw on the
    island. 11 of the people weigh the exact same amount. The other person
    has a slightly different weight. The user must determine who the person
    of unequal weight is using only the seesaw, and the seesaw can only be
    used 3 times.</strong></p>
    <p>I heard the riddle on the show and became a little obsessed with it.
    I spent much of my spare time thinking about the riddle, and avoided any
    and all internet searches which might reveal the answer. I really wanted
    the satisfaction of having solved it for myself.</p>
    <p>Once I had an algorithm I thought worked, I wrote this program to
    give myself a nice way to test it.</p>
    <div style="display: flex; justify-content: center;">
        <img src="{{ url_for('static', filename='seesaw_riddle_screenshot.png')}}"/>
    </div>
    <p><strong><em>NOTE: The balance computation does not take into account
    the distance of the people from the fulcrum of the seesaw. It is
    computed as if all people present on the seesaw are equidistant from the
    fulcrum. One of my original solutions was dependent on observing the
    speed with which the seesaw fell. I carefully asked an AI chatbot if the
    solution to the riddle depended on this, and was told the accepted
    solutions do not. Since the velocity of the seesaw does not matter, the
    exact position of each person does not either, only what side they are
    on.</em></strong></p>

    <h2 id="build-dependencies">Building the Program</h2>
    <p>Please refer to the README in the repository linked above for information on building this program.</p>

    <h2 id="how-to-play">How to Play</h2>
    <p>The game is played in a terminal. <code>$ make play</code> will build
    and start the game for you.</p>
    <p>When the game is first started, an screen explaining the instructions
    will appear. You can enter ‘M’ at any time to see this screen again.
    Here is a summary:</p>
    <ul>
        <li>‘A9’ -&gt; Move islander A to postion 9.</li>
        <li>‘R’ -&gt; Remove all islanders from the seesaw.</li>
        <li>‘T’ -&gt; Test the current seesaw setup. This is one of your three
        seesaw uses.</li>
        <li>‘W’ -&gt; Discover who is the special islander.</li>
        <li>‘Q’ -&gt; Quit the game.</li>
        <li>‘M’ -&gt; Display instructions message.</li>
    </ul>
    <p>Each time you run the game, the special islander is selected at
    random, and the weight difference is random as well.</p>
    <p><strong><em>NOTE: This program was written on a linux machine, and
    has only been played on Ubuntu and MacOS. The Makefile is not written
    for Windows, and there may be graphical glitches on other operating
    systems related to clearing the screen.</em></strong></p>

    <h2>My Algorithm</h2>
    <p>My algorithm is based on a few <strong>ideas</strong></p>
    <ol>
        <li>It is desirable to use more islanders per operation than fewer, 
        but not desirable to use all the islanders in a single operation.</li>
        <li>Each time an islander is placed on the seesaw, additional knowledge
        about that islander may be gained.</li>
        <li>Different arrangements of the same set of islanders can produce
        different outcomes.</li>
        <li>Islanders which have been proven to have the standard weight may be
        used to test against unknown islanders.</li>
    </ol>
    
    <h3>Branching Tree</h3>
    <p>In this tree, the islanders will have names A, B, C, D, E, F, G, H, I.</p>
    <p>The words "safe individual" will be used to describe an islander which has been shown already to not be
    the source of imbalance.</p>
    <p>The branching logic for the algorithm is slightly too large to be read in one table, and the initial
    two branches formed from the outcome of the first test are quite different, so I will show the first test
    here, and then two tables will follow, one for each branch.</p>
    <h4>Test 1</h4>
    <p>Test 1 will always be a 4v4.</p> 
    <p>This follows <strong>idea</strong> (1.). 4v4 is the right choice here rather than 5v5,
    because the outcome of the 5v5 could leave you with 10 potential imbalances and only two tests remaining, which is not
    solvable. Likewise, 6v6 is not advisable, as it will not reveal anything you do not already know. You already know the
    imbalance is somewhere in the set of 12.</p>
    <p>ABCD vs EFGH</p>
    <p>If Test 1 is balanced, the imbalance is in the set IJKL and will be found in table 1.</p>
    <p>If Test 1 is unbalanced, the imbalance is in the set ABCDEFGH and will be found in table 2.</p>

    <h4>Table 1 -- IJKL contains imbalance.</h4>
    <table>
        <!-- Pre-test 2 explainer -->
        <tr>
            <td>Pre-test 2 explainer</td>
            <td></td>
            <td>
                <p>If Test 1 was balanced, the imbalance lies in the set IJKL.</p>
                <p>Take 3 of the 4 potential, add a safe individual, and test.</p>
                <p>This decision pulls from <strong>ideas</strong> (1.) and (4.)</p>
            </td>
            <td></td>
        </tr>
        <!-- Test 2 -->
        <tr>
            <td>Test 2</td>
            <td></td>
            <td>
                <p>IJ vs KA</p>
            </td>
            <td></td>
        </tr>
        <!-- Pre-test 3 explainer -->
        <tr>
            <td>Pre-test 3 explainer</td>
            <td>
                <p>If Test 2 was balanced, the imbalance is in the untested islander, L.</p>
            </td>
            <td></td>
            <td>
                <p>If Test 2 was unbalanced, the imbalance is in the set IJK.</p>
                <p>Take the 2 which have been sharing a side so far, and test them against each other.</p>
            </td>
        </tr>
        <!-- Test 3 -->
        <tr>
            <td>Test 3</td>
            <td>
                <p>N/A</p>
            </td>
            <td></td>
            <td>
                <p>I vs J</p>
            </td>
        </tr>
        <!-- Outcome -->
        <tr>
            <td>Outcome</td>
            <td><p>Imbalance in L</p></td>
            <td></td>
            <td>
                <p>If Test 3 was balanced, the imbalance is in K.</p>
                <p>If Test 3 was unbalanced, the imbalance can be determined from comparing the current outcome
                with the previous tests where I and J were on the seesaw. This is <strong>idea</strong> (2.).</p>
                <p>In Test 2 (IJ vs KA) if the RIGHT half fell toward the ground, you know IJ is light or KA is heavy. 
                In Test 3 (I vs J), if the RIGHT half falls, it is therefore because I is light. Likewise, if the 
                LEFT half falls, it is because J is light. The same logic can be applied if Test 2 has the LEFT 
                half falling. In this case, instead of I or J being light, they must be heavy.</p>
            </td>
        </tr>
    </table>

    <h4>Table 2 -- ABCDEFGH contains imbalance.</h4>
    <table>
        <!-- Pre-test 2 explainer -->
        <tr>
            <td>Pre-test 2 explainer</td>
            <td></td>
            <td>
                <p>If Test 1 was unbalanced, the imbalance lies in the set ABCDEFGH.</p>
                <p>Take 5 of the 8 potential, reverse the positions of 2, and add a safe individual.</p>
                <p>By reversing the positions of 2 islanders, we are implementing <strong>idea</strong>(3).</p>
            </td>
            <td></td>
            <td></td>
        </tr>
        <!-- Test 2 -->
        <tr>
            <td>Test 2</td>
            <td></td>
            <td>
                <p>AFC vs EBI</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- Pre-test 3 explainer -->
        <tr>
            <td>Pre-test 3 explainer</td>
            <td>
                <p>If Test 2 was balanced, the imbalance is in the untested set, DGH.</p>
                <p>Take the two from this set which have shared a side and test them
                against each other.</p>
            </td>
            <td></td>
            <td></td>
            <td>                
                <p>If Test 2 was unbalanced, the imbalance is in the set AFCEB.</p>
                <p>By comparing the outcome of Test 2 to Test 1, we can determine whether the
                imbalance is in the set ACE or FB. If the seesaw side which fell is the same
                from Test 1 to Test 2, we know the imbalance did not change sides, and therefore
                lies in set ACE. If the falling seesaw side in Test 2 is opposite Test 1, we 
                know the imbalance changed sides, and is therefore in set FB. Based on this,
                the use should either Test one from FB against a safe individual, or split
                the two sharing a side from ACE, and test them against each other.</p>
                <p>Note here, this particular outcome is why we did not use 6 of the 8 potential
                islanders when performing Test 2. If we had done that, a possible set containing
                the imbalanced islander would be ACEG. It is not possible to determine the source
                of the imbalance from four possibilities with one remaining test.</p>
            </td>
            <td></td>
        </tr>
        <!-- Test 3 -->
        <tr>
            <td>Test 3</td>
            <td>
                <p>G vs H</p>
            </td>
            <td></td>
            <td>
                <p>F vs I</p>
            </td>
            <td></td>
            <td>
                <p>A vs C</p>
            </td>
        </tr>
        <!-- Outcome -->
        <tr>
            <td>Outcome</td>
            <td>
                <p>If Test 3 was balanced, the imbalance is in D.</p>
                <p>If Test 3 was unbalanced, the imbalance can be determined from comparing the current outcome
                with the previous tests where G and H were on the seesaw. The method is the same as the Test 3 unbalanced
                outcome in Table 1.</p>
            </td>
            <td></td>
            <td>
                <p>If Test 3 was balanced, the imbalance is in B.</p>
                <p>If Test 3 was unbalanced, the imbalance is in F.</p>
            </td>
            <td></td>
            <td>
                <p>If Test 3 was balanced, the imbalance is in E.</p>
                <p>If Test 3 was unbalanced, the imbalance can be determined from comparing the current outcome
                with the previous tests where A and C were on the seesaw. The method is the same as the Test 3 unbalanced
                outcome in Table 1.</p>
            </td>
        </tr>
    </table>

    <h3>Example from the Game</h3>
    <p>The branching logic can be hard to follow without showing results. The following is an example which follows the
    rightmost path in Table 2.</p>
    <table>
        <tr>
            <p><strong>Test 1</strong></p>
            <p>SEESAW: ABCD -^- EFGH</p>
            <p>The RIGHT half of the seesaw drops toward the ground.</p>
            <p>From this, we know the imbalanced islander is in the set ABCDEFGH.</p>
        </tr>
        <tr>
            <p><strong>Test 2</strong></p>
            <p>SEESAW: AFC -^- EBI</p>
            <p>The RIGHT half of the seesaw drops toward the ground.</p>
            <p>From this, we know the imbalanced islander did not change sides, so must be in
            set ACE.</p>
        </tr>
        <tr>
            <p><strong>Test 3</strong></p>
            <p>SEESAW: A -^- C</p>
            <p>The LEFT half of the seesaw drops toward the ground.</p>
            <p>From the result of Test 2, we know AC is light or E is heavy. Since this
            test was not balanced, we know A or C is the imbalanced islander. Since there
            is no remaining possibility that one of them is heavy, the LEFT half dropping
            shows us that C is light.</p>
        </tr>
    </table>

{% endblock %}