<!-- Inherit from layout.html -->
{% extends 'layout.html' %}

{% block main_content %}

    <div class="projectHead">
        <h1>Embedded Solar Thermal Controller</h1>
        <p>A basic embedded system project, using photoresistors and a stepper motor to control light entering a box.</p>
        <a class="repoLink" href="https://github.com/Stone071/solarthermal_control">Repository</a>
    </div>

    <div>
        <h2>Table of Contents</h2>
        <ul class="tableOfContents">
            <li><a href="#background">Background</a></li>
            <li><a href="#construction">Construction</a></li>
            <li><a href="#hardware-used">Hardware Used</a></li>
            <li><a href="#operation">Operation</a></li>
            <li><a href="#building-and-flashing">Building and Flashing</a></li>
        </ul>
    </div>

    <div class="container">
        <div>
            <h2 id="background">Background</h2>
            <p>
                <img style="float: right; height: 500px;" src="{{ url_for('static', filename='solar-thermal-controller.png')}}"/>
                This program was a student project I wrote for my Microprocessor Lab course in undergrad. I really enjoyed that class, 
                and realized that I wanted very much to work on embedded systems in my future.
            </p>
            <p>
                At the time, I was living and working on a student-run farm at the university, where I had taken a special interest in 
                the solar thermal array and greenhouse. A problem we frequently had on the farm was that the greenhouse was getting much 
                warmer than needed, so we often covered the solar thermal array with a blanket to prevent more heat absorpbtion. I 
                imagined it would be far better if we could have the blanket on a furling system with a motor, such that some basic control 
                system could be implemented to automatically manage the solar energy input into the system.
            </p>
            <p>
                Well, I never did implement that system, but I did make a small demo of the idea for Microprocessor Lab. This project is 
                that demo.
            </p>

            <h2 id="construction">Construction</h2>
            <p>
                The physical system was very simple, being comprised of a shallow cardboard box inclined at an angle, a lid which could 
                be pulled up or slid down to open/close the box, and a motor mounted on a tower with a pulley controlling the height of 
                the lid. Mounted inside the box were four photoresistors, equally spaced along the height of the box.
            </p>
            <p>
                The remaining electronics were off to the side of the box, and were the microcontroller, a stepper motor driver board, 
                a joystick, a 16x2 LCD, and four resistors pairing with the photoresistors to form voltage dividers.
            </p>

        </div>
        <div>

        </div>
    </div>

    <h2 id="hardware-used">Hardware Used</h2>
    <table>
        <colgroup>
            <col style="width: 34%" />
            <col style="width: 30%" />
            <col style="width: 34%" />
        </colgroup>
        <thead>
            <tr class="header">
                <th>Component</th>
                <th>Function</th>
                <th>Interface</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>AVR Xplained Mini</td>
                <td>ATmega328PB Microcontroller including ADCs and communication
                peripherals</td>
                <td>N/A</td>
            </tr>
            <tr class="even">
                <td>SparkFun Qwiic Joystick</td>
                <td>User input to system</td>
                <td>I2C</td>
            </tr>
            <tr class="odd">
                <td>Newhaven Display 16x2 LCD</td>
                <td>System output to user</td>
                <td>UART</td>
            </tr>
            <tr class="even">
                <td>28BY-J-48 Stepper Motor</td>
                <td>Drives pulley to control shade</td>
                <td>ON/OFF excitement of coils</td>
            </tr>
            <tr class="odd">
                <td>ULN2003 Stepper Motor Driver Board</td>
                <td>Supplies adequate power to stepper</td>
                <td>N/A</td>
            </tr>
            <tr class="even">
                <td>4x 10K Photoresistors and 4x 1K Resistors</td>
                <td>Used together as voltage divider to measure brightness as voltage
                between ~0V and ~5V</td>
                <td>N/A</td>
            </tr>
            <tr class="odd">
                <td>2x 10K Resistors</td>
                <td>Pull-up resistors for I2C bus</td>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>

    <h2 id="operation">Operation</h2>
    <p>There are two modes of operation: Auto and Manual. In Auto, the user
    uses the joystick to set a voltage setpoint, and the control loop
    rotates the stepper motor until the photocells have an average voltage
    within 0.1V of the setpoint. In Manual, the user directly controls the
    movement of the stepper motor through the joystick. At all times the
    current voltage, setpoint, and operational mode are displayed on screen,
    while the user navigates the system using the joystick.</p>

    <h2 id="building-and-flashing">Building and Flashing</h2>
    <p>Please refer to the README in the repository linked above for information on building and flashing this program.</p>

    
{% endblock %}